<?php

/**
 * @var Zend_View $this
 */
$loginForm = $this->loginForm;
$errorMessages = $loginForm->getMessages();
$loginForm = $this->loginForm;
$errorMessage = $this->errorMessage[0] ?? ''; 
$usernameErrors = $errorMessages['username'] ?? [];
$passwordErrors = $errorMessages['password'] ?? [];
$loginLink = $this->url([
	'module' => 'default',
	'controller' => 'login',
	'action' => 'login'
])
?>
<form action="<?= $loginLink?>" method="POST">
	<div class="form-group">
		<label for="exampleInputEmail1">Email address</label>
		<input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
		<?php foreach ($usernameErrors as $nameError) : ?>
			<p class="text-danger"><?= $nameError ?></p>
		<?php endforeach; ?>
	</div>
	<div class="form-group">
		<label for="exampleInputPassword1">Password</label>
		<input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
	</div>
	<?php foreach ($passwordErrors as $passwordError) : ?>
		<p class="text-danger"><?= $passwordError ?></p>
	<?php endforeach; ?>
	<input type="submit" class="btn btn-primary" value="submit" />
	<p class="text-danger"><?= $errorMessage?></p>
</form>