<?php

/**
 * @var Zend_View $this
 */
$this->headTitle('Profile Page');
?>
<?php
$this->headStyle()->captureStart();
?>
body{
color: black;
}
<?php
$this->headStyle()->captureEnd();
?>

<?php
$this->inlineScript()->captureStart();
?>
function ConfirmDelete()
{
var x = confirm("Are you sure you want to delete?");
if (x)
return true;
else
return false;
}
<?php
$this->inlineScript()->captureEnd();
?>

<h1>Profiles</h1>
<a href="/default/profile/insert" class="btn btn-outline-warning">Add new value</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Created</th>
            <th scope="col">Address</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <?php
        foreach ($this->profiles as $profile) :
            $id      = $this->escape($profile->id);
            $name    = $this->escape($profile->name);
            $address = $this->escape($profile->address);
            $query   = http_build_query(['id' => $id]);
            $editProfileLink = $this->url([
                'module' => 'default',
                'controller' => 'profile',
                'action' => 'update',
                'id' => $id
            ]);
            // $editProfileLink .= "?$query";
            $deleteProfileLink = $this->url([
                'module' => 'default',
                'controller' => 'profile',
                'action' => 'delete',
            ]);
            $deleteProfileLink .= "?$query";
        ?>
            <tr>
                <th scope="row"><?= $id ?></th>
                <td><?= $name ?></td>
                <td><?= $address ?></td>
                <td>
                    <a class="btn btn-outline-info" role="button" href="<?= $editProfileLink ?>">edit</a>
                    <a class="btn btn-outline-danger" href="<?= $deleteProfileLink ?>" onclick="return ConfirmDelete()">Remove</a>
                </td>
            </tr>
        <?php endforeach ?>
    </tbody>
</table>
<?php
$logOutLink = $this->url([
    'module' => 'default',
    'controller' => 'login',
    'action' => 'signout'
]);
?>
<a class="btn btn-outline-primary" href="<?= $logOutLink?>" role="button">Logout</a>