<?php
/**
 * @var Zend_View $this
 */
$name = $this->escape($this->name ?? '');
$address = $this->escape($this ->address ?? '');

/** @var Application_Form_Profile */
$profileForm   = $this->profileForm;

$errorMessages = $profileForm->getMessages();
$nameErrors    = $errorMessages['name'] ?? [];
$addressErrors = $errorMessages['address'] ?? [];
$name          = $profileForm->getValue('name');
$address       = $profileForm->getValue('address');

?>
<form method="POST">
  <label for="name">Name:</label><br>
  <input type="text" id="name" name="name" value="<?= $name?>"><br>

  <?php foreach ($nameErrors as $nameError): ?>
    <p><?= $nameError ?></p>
  <?php endforeach; ?>
  

  <label for="address">Address</label><br>
  <input type="text" id="address" name="address" value="<?= $address?>" ><br>
  
  <?php foreach ($addressErrors as $addressError): ?>
  <p><?= $addressError ?></p>
  <?php endforeach; ?>
  
  
  <input type="submit" value="Submit">
</form>