<?php
/**
 * @var Zend_View $this 
 */
?>
<?php
$id = $this->escape($this->profile->id);
$name = $this->escape($this->profile->name);
$address = $this->escape($this->profile->address);
?>
<br /><br />
<div id="view-content">
	<p>View script for controller <b>Profile</b> and script/action name <b>update</b></p>
</div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<form action="/default/profile/store-update" method="POST">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="text" class="form-control" id="exampleInputEmail1" name="name" aria-describedby="emailHelp" value="<?= $name ?>">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="text" name="address" class="form-control" id="exampleInputPassword1" value="<?= $address ?>">
  </div>
  
  <div class="form-group">
    <input type="hidden" name="id" class="form-controle" value="<?= $id ?>">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>